body{
    position: relative;
    font-family: Verdana;
    background-color: black;
    margin:0;
    padding:0;
    height:100%;
}

div.header{
    position: absolute;
    top: 0;
    background: -moz-linear-gradient(top, #ffffff 0%, rgb(255, 87, 115) 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, rgb(255, 87, 115) 100%);
    background: linear-gradient(to bottom, #ffffff 0%, rgb(255, 87, 115) 100%);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

h1.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia;
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 1px 3px rgba(0,0,0,0.7);
    height: 55px;
}


h1.title a:hover{
    content: url(../media/rockbicho_face.png); /* no need for qoutes */
    vertical-align: middle;
    width: 100px;
}

ul.h_menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 0.5%;
}


ul.h_menu.text li a{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-family: Cambria;
    text-decoration-line: none;
    color: white;
    font-size: 1.1em;
    width: 33.33%;
    height: 40px;
    text-align: center;

}

ul.h_menu.text li a:hover{
  background-color: white;
  color: black;
}
div.content{
    padding-top: 122px;
    min-height: 515px;
    padding-bottom: 30px;
}
div.y_adopt{
    color: #ffffff;
}
div.content h2{
    font-family: Georgia;
    padding-left: 2%;
    border-top: 2px dashed white;
}

ul.h_menu.image li{
    display: block;
    justify-content: center;
    align-items: center;
    float: left;
    font-family: Cambria;
    text-decoration-line: none;
    font-size: 1.1em;
    text-align: center;
    width: 25%;
}

ul.h_menu.image li a:hover{
    content: url(../media/ico/ico-rock.png); /* no need for qoutes */
}

div.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 30px;
    background: -moz-linear-gradient(top, rgb(255, 87, 115) 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, rgb(255, 87, 115) 0%, #ffffff 100%);
    background: linear-gradient(to bottom, rgb(255, 87, 115) 0%, #ffffff 100%);    
    opacity: 0.8;
    width: 100%;
    font-family: Cambria;
    font-size: 0.9em;
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}